<footer>
  <div class="d-none d-md-flex py-5 footer-before bg-gray-dark">
    <div class="container">
      <div class="row d-flex">
        <div class="col-3 align-self-center">
          <h2 class="display-3">NGO</h2>
          <p>We care</p>
        </div>
        <div class="col-3">
          <h6 class="line">Useful links</h6>
          <%- include('../partials/lineSeparator') %>
          <ul class="nav flex-column mt-2">
            <li class="nav-item align-self-start">
              <a href="#" class="nav-link px-0">Home</a>
            </li>
            <li class="nav-item align-self-start">
              <a href="#" class="nav-link px-0">About</a>
            </li>
            <li class="nav-item align-self-start">
              <a href="/contact-us" class="nav-link px-0">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col-3">
          <h6 class="line">Our support</h6>
          <%- include('../partials/lineSeparator') %>
          <ul class="nav flex-column mt-2">
            <li class="nav-item align-self-start">
              <a href="#" class="nav-link px-0">Private policy</a>
            </li>
            <li class="nav-item align-self-start">
              <a href="#" class="nav-link px-0">donate now</a>
            </li>
            <li class="nav-item align-self-start">
              <a href="#" class="nav-link px-0">become a volunteer</a>
            </li>
            <li class="nav-item align-self-start">
              <a href="#" class="nav-link px-0">careers</a>
            </li>
            <li class="nav-item align-self-start">
              <a href="#" class="nav-link px-0">partnership</a>
            </li>
          </ul>
        </div>
        <div class="col-3">
          <h6>Our servivce</h6>
          <%- include('../partials/lineSeparator') %>
          <ul class="nav flex-column mt-2">
            <li class="nav-item align-self-start">
              <a href="#" class="nav-link px-0"> Donate</a>
            </li>
            <li class="nav-item align-self-start">
              <a href="#" class="nav-link px-0">sponsor</a>
            </li>
            <li class="nav-item align-self-start">
              <a href="#" class="nav-link px-0">fundraise</a>
            </li>
            <li class="nav-item align-self-start">
              <a href="#" class="nav-link px-0">volunteer</a>
            </li>
            <li class="nav-item align-self-start">
              <a href="#" class="nav-link px-0">partner</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="pt-5 row d-flex align-items-start">
        <div class="col-5">
          <form class="subscription-form w-75">
            <div class="form-group">
              <label for="email" class="mb-2"
                >Subscribe to our news letter</label
              >
              <div class="d-flex">
                <input
                  type="email"
                  name="email"
                  class="form-control subscribe-text"
                  placeholder="Email"
                />
                <button typle="button" class="btn subscribe-btn px-4">
                  <i class="fas fa-paper-plane"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-3">
          <p>Call us now</p>
          <div>
            <span class="d-block"
              ><a href="tel:+234123456789">+234123456789</a></span
            >
            <span class="d-block"
              ><a href="tel:+234123456789">+234123456789</a></span
            >
          </div>
        </div>
        <div class="col-4">
          <p>Connect with us</p>
          <div class="d-flex align-items-center">
            <a href="#" class=""
              ><i class="fab fa-facebook-f social-icon"></i
            ></a>
            <a href="#" class=""><i class="fab fa-twitter social-icon"></i></a>
            <a href="#" class=""
              ><i class="fab fa-instagram social-icon"></i
            ></a>
            <a href="#" class=""><i class="fab fa-youtube social-icon"></i></a>
            <a href="#" class=""><i class="fab fa-google social-icon"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-after">
    <div class="container">
      <div class="row py-4">
        <p class="footer-logo m-md-0 col-12 col-md-4">logo</p>
        <p class="m-md-0 col-12 col-md-4">&copy; 2021. All right reserve</p>
        <p class="m-md-0 col-12 col-md-4"
          ><a href="#">Terms & conditions</a> |
          <a href="#">Privacy Policy</a></p
        >
      </div>
    </div>
  </div>
</footer>
