<div class="container header d-flex align-items-center justify-content-between">
  <div> logo </div>
  <nav class="navbar d-none d-md-block p-0">
    <ul class="navbar-nav d-flex flex-row header-navbar navbar-inline">
      <li class="nav-item mx-3 p-0"><a href="/">Home</a></li>
      <li class="nav-item mx-3 p-0"><a href="#">Services</a></li>
      <li class="nav-item mx-3 p-0"><a href="/about-us">About</a></li>
      <li class="nav-item ml-3 p-0"><a href="/contact-us">Contact</a></li>
    </ul>
  </nav>
  <div class="toggler-wrapper d-md-none">
    <input type="checkbox" name="toggler" class="menu-toggler" />
    <div class="menu-toggler-icon"></div>
  </div>
</div>
<nav class="navbar nav-drawer w-75">
  <ul
    class="navbar-nav d-flex flex-column w-100 align-items-center justify-content-center header-navbar"
  >
    <li class="nav-item mx-2 active"><a href="/">Home</a></li>
    <li class="nav-item mx-2"><a href="#">Services</a></li>
    <li class="nav-item mx-2"><a href="/about-us">About</a></li>
    <li class="nav-item ml-2"><a href="/contact-us">Contact</a></li>
  </ul>
</nav>
