<section>
  <div class="py-4 jumbotron bg-light about-us">
    <div class="container">
      <h3 class="display-6">About Us</h3>
      <div class="w-25"> <%- include('./partials/lineSeparator') %> </div>
      <p class="lead"
        >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore id
        cum natus delectus ad sapiente nulla est, explicabo tempora reiciendis
        vitae ratione tenetur et aut debitis consectetur odit laudantium rem.</p
      >
      <p
        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit
        blanditiis nulla quod at aut ipsam sint, laudantium aliquam praesentium
        molestias.</p
      >
    </div>
  </div>
</section>
<section>
  <div class="container py-4 testimonial">
    <h3 class="display-6 text-capitalize text-center mb-2">Testimonials</h3>
    <%- include('./partials/carousel/aboutUsCarousel') %>
  </div>
</section>
<section>
  <div class="container meet-team py-4">
    <h3 class="display-6">Meet The Team</h3>
    <div class="team-member-wrapper row g-3">
      <div
        class="team-member col-12 col-md-6 col-lg-4"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-easing="ease-in-sine"
        data-aos-duration="400"
        data-aos-once="true"
      >
        <div class="content p-3 bg-light">
          <div class="team-member-img"
            ><img src="../assets/img/team.jpg" alt="..."
          /></div>
          <div class="team-member-info">
            <h3 class="text-center text-success">Name</h3>
            <p class="bio text-black-50 mb-0"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Aspernatur nisi exercitationem veniam neque pariatur consequatur
              facere fugit eligendi similique aliquid?</p
            >
          </div>
        </div>
      </div>
      <div
        class="team-member col-12 col-md-6 col-lg-4"
        data-aos="fade-up"
        data-aos-delay="200"
        data-aos-easing="ease-in-sine"
        data-aos-duration="400"
        data-aos-once="true"
      >
        <div class="content p-3 bg-light">
          <div class="team-member-img"
            ><img src="../assets/img/team.jpg" alt="" srcset=""
          /></div>
          <div class="team-member-info">
            <h3 class="text-center text-success">Name</h3>
            <p class="bio text-black-50 mb-0"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Aspernatur nisi exercitationem veniam neque pariatur consequatur
              facere fugit eligendi similique aliquid?</p
            >
          </div>
        </div>
      </div>
      <div
        class="team-member col-12 col-md-6 col-lg-4"
        data-aos="fade-up"
        data-aos-delay="300"
        data-aos-easing="ease-in-sine"
        data-aos-duration="400"
        data-aos-once="true"
      >
        <div class="content p-3 bg-light">
          <div class="team-member-img"
            ><img src="../assets/img/team.jpg" alt="" srcset=""
          /></div>
          <div class="team-member-info">
            <h3 class="text-center text-success">Name</h3>
            <p class="bio text-black-50 mb-0"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Aspernatur nisi exercitationem veniam neque pariatur consequatur
              facere fugit eligendi similique aliquid?</p
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
