<div class="contact-section container py-5">
  <div class="row">
    <div class="contact-address col-12 col-md-6">
      <h3 class="text-capitalize mb-3 display-6">Where to find us</h3>
      <div class="address-wrapper">
        <div class="d-flex align-items-center">
          <i class="fas fa-map-marker-alt d-block text-success"></i>
          <div>
            <h5 class="text-dark">Address</h5>
            <p>123, NGO Street, Enugu</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <i class="fas fa-envelope-open-text text-success"></i>
          <div>
            <h5>Email</h5>
            <p>contact@ngo.ng</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <i class="fas fa-phone-alt text-success"></i>
          <div>
            <h5>Call</h5>
            <p>contact@ngo.ng</p>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-form col-12 col-md-6">
      <h4 class="mb-3"
        ><span class="text-success">Say Hi!</span> by dropping a message.</h4
      >
      <form>
        <div class="row g-2 mb-2">
          <div class="col-12 col-md-6 form-group">
            <label for="name" class="sr-only">Name</label>
            <input
              type="text"
              name="name"
              class="form-control"
              placeholder="Name"
            />
          </div>
          <div class="col-12 col-md-6 form-group">
            <label for="email" class="sr-only">Name</label>
            <input
              type="email"
              name="email"
              class="form-control"
              placeholder="Email"
            />
          </div>
        </div>
        <div class="form-group mb-2">
          <label for="user-name" class="sr-only">Message</label>
          <textarea
            class="form-control"
            name="user-msg"
            id="user-msg"
            cols="10"
            rows="4"
            placeholder="Message here..."
          ></textarea>
        </div>
        <input
          type="button"
          value="Send"
          class="btn btn-success px-5 my-2 btn-block w-100 text-uppercase"
        />
      </form>
    </div>
  </div>
</div>

<%- include('./partials/helpDetail') %>
