<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link href="../assets/css/fontawesome.min.css" rel="stylesheet" />
    <link href="../node_modules/aos/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <title>NGO app || <%= title %></title>
  </head>
  <body class="d-flex flex-column">
    <div class="overlay"></div>
    <div class="preloader-wrapper"
      ><img src="../assets/img/preloader.svg" alt="preloader"
    /></div>
    <header> <%- include('./layouts/header') %> </header>
    <main class="flex-grow-1"> <%- body %> </main>
    <%- include('./layouts/footer') %>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="../node_modules/aos/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="../assets/js/app.js"></script>
  </body>
</html>
